# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

1. Simple arithmetic expression in Python
2. Create a code cell to convert minutes to hours
3. Create a markdown cell with a table of Data Science tools
4. Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C/C++
8. JavaScript

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas
5. Matplotlib 
6. Keras
7. SciKit-Learn
8. PyTorch

|Data Science Tools|
-----------------
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers.

In [2]:
x = 3
y = 4
z = 5
m = (3*4)+5
print(m)

17

This will convert 200 minutes to hours by diving by 60

In [8]:
minutes = 200
hour = minutes / 60
print(hour)

3.3333333333333335

## Author ##
Paul Isibor